# Игнорировать файлы базы данных
scan_results.db
info.txt
favorite.db

# Игнорировать логи
debug.log
debug.txt

# Также часто полезно игнорировать папки, которые не нужны в репозитории:
.idea/
__pycache__/

#Игнорировать обученную модель
genre_model.pkl